@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html, body {
  font-family: sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  margin-top: 0px; }
  @media (max-width: 767px) {
    html, body {
      margin-top: 0px; } }

a, .btn {
  transition: all 200ms; }

a {
  color: #000;
  text-decoration: underline; }
  a.btn, a.nav-link {
    text-decoration: none; }
  a:hover, a:focus {
    color: #666;
    outline: none;
    text-decoration: none; }

p {
  font-family: sans-serif;
  line-height: 2;
  font-size: 1em;
  margin-bottom: 20px; }
  @media (max-width: 767px) {
    p {
      font-size: 1em; } }

.figure {
  max-width: 100%; }

h1 {
  font-weight: bold; }

h2 {
  font-weight: bold; }

h3 {
  font-weight: bold; }

h4 {
  font-weight: bold; }

h5 {
  font-weight: bold; }

.form-group {
  position: relative; }
  .form-group i {
    position: absolute;
    right: 25px;
    top: 12px;
    font-size: 1.25rem; }

form.hidelabels .form-group {
  position: relative; }
  form.hidelabels .form-group i {
    position: absolute;
    right: 15px;
    top: 10px; }

nav.navbar {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.1); }
  nav.navbar .navbar-brand img {
    width: 100px;
    height: auto; }
  @media (max-width: 767px) {
    nav.navbar .navbar-brand img {
      width: 50px;
      height: auto; } }
  nav.navbar .nav-link {
    margin-right: 20px; }
  nav.navbar .btn {
    margin-right: 20px; }
  nav.navbar .dropdown-toggle::after {
    display: none; }

section {
  padding: 0 0 50px; }
  section.both {
    padding: 50px 0px; }
  section.block {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 50px 0px 50px;
    margin-bottom: 50px; }
  @media (max-width: 767px) {
    section {
      padding: 0 0 25px; }
      section.block {
        padding: 50px 0 25px;
        margin-bottom: 25px; } }

section.head {
  margin-bottom: 50px;
  position: relative;
  background-image: linear-gradient(225deg, #666, #000);
  background-size: 100%;
  z-index: 1;
  height: auto;
  padding: 25px 0;
  color: #fff;
  overflow: hidden; }
  @media (max-width: 767px) {
    section.head {
      padding: 25px 0;
      margin-bottom: 50px; } }
  section.head a {
    color: #ccc;
    margin-right: 20px;
    text-decoration: none; }
    section.head a:hover {
      color: #fff; }
    @media (max-width: 767px) {
      section.head a {
        display: block; } }
  section.head.pop {
    margin: 0px; }

footer {
  padding: 100px;
  color: #666;
  background-color: #000; }
  @media (max-width: 767px) {
    footer {
      padding: 20px 5px; } }
  footer .logo {
    width: 100%;
    max-width: 100px; }
  footer div[class*="col-"] {
    margin-bottom: 20px; }
  footer h5 {
    font-weight: bold; }
  footer a {
    text-decoration: none;
    color: #666; }
    footer a i {
      color: #666;
      transition: all 200ms; }
      footer a i:hover {
        color: #d8a168; }
    footer a:hover {
      color: #d8a168; }

.admin {
  width: 100%;
  height: calc(100vh - 170px);
  background: url("../img/admin-bg.jpg") center no-repeat;
  background-size: cover; }
  .admin .panel {
    width: 400px;
    background: transparent;
    border: 10px solid rgba(255, 255, 255, 0.5); }
    .admin .panel .panel-heading {
      background: #000;
      padding: 10px 25px;
      color: #fff;
      text-align: center;
      text-transform: uppercase; }
    .admin .panel .panel-body {
      background: #fff;
      padding: 25px; }

.admin-header {
  width: 100%;
  height: 50px;
  background-color: #000; }
  .admin-header .admin-welcome {
    float: left;
    padding: 10px 15px;
    color: #fff; }
  .admin-header .admin-nav {
    float: right;
    margin-top: 20px; }

.fourohfour {
  position: relative;
  width: 100%;
  height: calc(100vh - 170px);
  background: url("../img/404-bg.jpg") center no-repeat;
  background-size: cover; }
  .fourohfour .centered {
    position: absolute;
    text-align: center;
    top: 50%;
    right: 0px;
    left: 0px;
    transform: translateY(-50%);
    color: #ffffff; }
    .fourohfour .centered .col {
      width: 66%;
      min-width: 320px;
      margin: 0 auto; }
    .fourohfour .centered h1 {
      font-size: 15vh;
      font-weight: 300; }

.newshead {
  background: url("../img/news-bg.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px; }

.news-archive {
  margin-right: 20px; }
  .news-archive a {
    display: block;
    padding: 15px 20px;
    border-bottom: 1px solid #efefef; }
    .news-archive a:hover {
      background-color: #efefef;
      color: #000; }

.product-head {
  width: 100%;
  height: 400px;
  background: url("../img/products-bg.jpg") center no-repeat;
  background-size: cover; }
  .product-head h1 {
    color: #000000;
    font-size: 5vw;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    translate: -50% -50%; }
  @media (max-width: 767px) {
    .product-head {
      height: 200px;
      width: 100%; }
      .product-head h1 {
        font-size: 1.0em;
        top: 30%; } }

.machinery-head {
  width: 100%;
  height: 400px;
  background: url("../img/machinery-bg.jpg") center no-repeat;
  background-size: cover; }
  .machinery-head h1 {
    color: #000;
    font-size: 5vw;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    translate: -50% -50%; }
  @media (max-width: 767px) {
    .machinery-head {
      height: 200px;
      width: 100%; }
      .machinery-head h1 {
        font-size: 1.0em;
        top: 30%; } }

.certifications-head {
  width: 100%;
  height: 400px;
  background: url("../img/team-bg.jpg") center no-repeat;
  background-size: cover; }
  .certifications-head h1 {
    color: #000;
    font-size: 5vw;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    translate: -50% -50%; }
  @media (max-width: 767px) {
    .certifications-head {
      height: 200px;
      width: 100%; }
      .certifications-head h1 {
        font-size: 1.0em;
        top: 30%; } }

.team-head {
  width: 100%;
  height: 400px;
  background: url("../img/certifications-bg.jpg") center no-repeat;
  background-size: cover; }
  .team-head h1 {
    color: #000;
    font-size: 5vw;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    translate: -50% -50%; }
  @media (max-width: 767px) {
    .team-head {
      height: 200px;
      width: 100%; }
      .team-head h1 {
        font-size: 1.0em;
        top: 30%; } }

.quote-head {
  width: 100%;
  height: 400px;
  background: url("../img/quote-bg.jpg") center no-repeat;
  background-size: cover; }
  .quote-head h1 {
    color: #000;
    font-size: 5vw;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    translate: -50% -50%; }
  @media (max-width: 767px) {
    .quote-head {
      height: 200px;
      width: 100%; }
      .quote-head h1 {
        font-size: 1.0em;
        top: 30%; } }

.assoc a {
  display: block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 400ms; }
  .assoc a img {
    opacity: 0.5;
    transition: all 400ms; }
  .assoc a:hover {
    background-color: rgba(0, 0, 0, 0); }
    .assoc a:hover img {
      opacity: 1.0; }

.jj-products .filter {
  cursor: pointer; }
  @media (max-width: 767px) {
    .jj-products .filter {
      float: none;
      width: 90%; } }

.jj-products .row {
  border-bottom: 1px solid #efefef;
  padding: 25px 0px; }

.jj-products .mix {
  display: none; }

.prod-desc {
  padding: 10px 0 0 0px; }

.prod-img {
  width: 90%; }

section.capabilities h2 {
  padding-bottom: 25px;
  margin-bottom: 50px;
  border-bottom: 1px solid #ccc; }

@media (max-width: 767px) {
  section.capabilities h2 {
    font-size: 24px;
    margin-bottom: 25px; } }

section.prod-detail h2, section.prod-detail img {
  margin-bottom: 50px; }

section.typography {
  padding-bottom: 0px;
  margin-bottom: 50px; }
  section.typography h2 {
    color: #d8a168;
    margin: 0 auto;
    margin-bottom: 40px; }
  section.typography .badge-dark {
    background-color: #d8a168; }
  section.typography .jumbotron {
    padding: 25px 50px; }
  @media (max-width: 767px) {
    section.typography {
      margin-bottom: 25px; }
      section.typography h2 {
        font-size: 24px;
        width: 90%; }
      section.typography h3 {
        font-size: 18px; }
      section.typography p, section.typography ul, section.typography .row {
        font-size: 14px;
        line-height: 28px;
        width: 90%;
        margin-bottom: 25px; } }

.machinery-benefits {
  padding-bottom: 100px !important; }
  .machinery-benefits h2 {
    margin-bottom: 35px; }
  .machinery-benefits .row.box {
    background: none;
    text-align: center; }
    .machinery-benefits .row.box div {
      padding: 25px 35px;
      background-color: white;
      border: 1px solid #efefef; }
      .machinery-benefits .row.box div h3 {
        font-weight: bold;
        height: 5rem;
        color: #000; }
      .machinery-benefits .row.box div i {
        color: #d8a168; }
      .machinery-benefits .row.box div p {
        color: #000; }

.machinery-roadmap .row {
  padding-bottom: 50px; }

.machinery-roadmap h2 {
  padding-bottom: 25px;
  margin-bottom: 35px; }

.machinery-roadmap h3 {
  padding: 15px 0px; }
  .machinery-roadmap h3 .badge {
    display: none;
    border-radius: 50%;
    margin-right: 10px; }
    .machinery-roadmap h3 .badge.badge-dark {
      background-color: #d8a168; }

.machinery-roadmap ul li {
  margin-bottom: 15px;
  margin-left: 15px; }
  .machinery-roadmap ul li i {
    margin-left: -15px;
    margin-right: 5px; }

.certification-login .flip-container {
  position: relative;
  top: 0px;
  left: 0px;
  translate: 0% 0%; }

.card-dark {
  background-color: rgba(0, 0, 0, 0.3); }

.has-error {
  font-weight: bold;
  color: #990000; }

.env-icon {
  color: #009900; }

.collapse-header {
  display: block;
  background-color: #000;
  color: #efefef;
  padding: 10px 15px;
  margin-bottom: 5px; }
  .collapse-header:hover, .collapse-header:focus, .collapse-header:active {
    background-color: #666;
    color: #fff; }

.collapse-body {
  display: none; }

.download {
  display: block;
  background-color: #efefef;
  padding: 10px 30px;
  margin-bottom: 5px; }
  .download:hover {
    background-color: #000;
    color: #fff; }

.team-bios .row {
  margin-bottom: 50px; }

.jj-case-study #na-menu-but {
  z-index: 9999; }

.case-study-head {
  position: absolute;
  color: #fff;
  left: 25px;
  top: 150px;
  z-index: 100; }
  @media (max-width: 767px) {
    .case-study-head h1 {
      display: none; } }

.container-admin {
  padding: 50px; }

.top50 {
  margin-top: 50px; }

.bottom50 {
  margin-bottom: 50px; }

.clear {
  clear: both; }

.hidden {
  display: none; }

strong {
  font-weight: bold; }

.btn {
  transition: all 400ms; }
  .btn i {
    margin-left: 10px;
    transition: all 400ms; }
  .btn:hover {
    background-color: #666;
    color: #fff; }
    .btn:hover i {
      margin-left: 25px; }
  .btn.active {
    background-color: #efefef;
    color: #000; }
    .btn.active i {
      margin-left: 25px; }
  .btn.btn-black {
    background-color: #000;
    color: #fff; }
    .btn.btn-black:hover {
      background-color: #666;
      color: #fff; }
  .btn.btn-alt {
    background-color: #d8a168;
    color: #fff; }
    .btn.btn-alt:hover {
      background-color: #000;
      color: #fff; }
  .btn.btn-cta {
    background-color: #ff5b00;
    color: #fff; }
    .btn.btn-cta:hover {
      background-color: #000;
      color: #fff; }
  .btn.btn-products {
    margin: 20px 0px; }

@keyframes delay {
  0%, 40%, 100% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

.modal-send {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto; }
  @media (max-width: 768px) {
    .modal-send {
      min-height: calc(100vh - 20px); } }
  .modal-send .modal-header {
    border-bottom: 1px solid #ffffff; }
  .modal-send .modal-footer {
    border-top: 1px solid #ffffff; }

.loader {
  margin: 0 auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 9999; }
  .loader > div {
    height: 100%;
    width: 8px;
    display: inline-block;
    float: left;
    margin-left: 2px;
    animation: delay 0.8s infinite ease-in-out; }
  .loader .bar1 {
    background-color: #000; }
  .loader .bar2 {
    background-color: #222;
    animation-delay: -0.7s; }
  .loader .bar3 {
    background-color: #444;
    animation-delay: -0.6s; }
  .loader .bar4 {
    background-color: #666;
    animation-delay: -0.5s; }
  .loader .bar5 {
    background-color: #888;
    animation-delay: -0.4s; }
  .loader .bar6 {
    background-color: #aaa;
    animation-delay: -0.3s; }

.flip-container {
  perspective: 1000px;
  position: absolute;
  width: 400px;
  height: 460px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.flip-container.flip .flipper {
  transform: rotateY(180deg); }

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative; }

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.front {
  z-index: 2;
  transform: rotateY(0deg); }

.back {
  transform: rotateY(180deg); }

#getStarted {
  position: fixed;
  right: 25px;
  bottom: 5px;
  opacity: 0.0; }
  #getStarted a.btn {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  @media (max-width: 768px) {
    #getStarted {
      right: 10px;
      bottom: 0px; }
      #getStarted a.btn {
        font-size: 12px;
        padding: 5px 10px; } }

ol.spacing li {
  padding: 10px 0px; }

.jumbotron {
  background-color: rgba(0, 0, 0, 0.04); }
