@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

$brand1: #000;
$brand15: #333;
$brand2: #666;
$brand3: #ccc;
$brand4: #efefef;
$brand5: #fff;
$box: #d8a168;
$orange: #ff5b00;

html,body {
	font-family: sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
 	background-color: #ffffff;
  margin-top: 0px;
  @media (max-width: 767px) {
  	margin-top: 0px;
  }
}
a, .btn {
	transition: all 200ms;
}
a {
	color: $brand1;
	text-decoration: underline;
	&.btn, &.nav-link {
		text-decoration: none;
	}
	&:hover, &:focus {
		color: $brand2;
		outline: none;
		text-decoration: none;
	}
}
p {
	font-family: sans-serif;
	line-height: 2;
	font-size: 1em;
	margin-bottom: 20px;
	@media (max-width: 767px) {
		font-size: 1em;
	}
}
// IE 11 Fix
.figure { max-width: 100%; }
h1 { font-weight: bold; }
h2 { font-weight: bold; }
h3 { font-weight: bold; }
h4 { font-weight: bold; }
h5 { font-weight: bold; }
small {  }
.small {  }
input, textarea {  }
label {  }
.input-lg { }
.form-group {  }
.img-responsive {  }
.has-error {}
.has-success {}
.form-group {
	position: relative;
	i {
		position: absolute;
		right: 25px;
		top: 12px;
		font-size: 1.25rem;
	}
}
form.hidelabels {
	.form-group {
		position: relative;
		i {
			position: absolute;
			right: 15px;
			top: 10px;
		}
	}
}
nav.navbar {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1), 0 1px 5px 0 rgba(0,0,0,0.1), 0 3px 1px -2px rgba(0,0,0,0.1);
	.navbar-brand {
		img {
			width: 100px;
			height: auto;
		}
	}
	@media (max-width: 767px) {
		.navbar-brand {
			img {
				width: 50px;
				height: auto;
			}
		}
	}
	.nav-link {
		margin-right: 20px;
		@media (min-width: 992px) {

		}
	}
	.btn {
		margin-right: 20px;
	}
	.dropdown-toggle::after {
		display: none;
	}
}

section { 
	padding: 0 0 50px;
	&.both {
		padding: 50px 0px;
	}
	&.block {
		background-color: rgba(0,0,0,0.04);
		padding: 50px 0px 50px;
		margin-bottom: 50px;
	}
	@media (max-width: 767px) {
		padding: 0 0 25px;
		&.block {
			padding: 50px 0 25px;
			margin-bottom: 25px;
		}
	}
}

// Heads
section.head {
	margin-bottom: 50px;
	position: relative;
	background-image: linear-gradient(225deg,$brand2,$brand1);
  background-size: 100%;
  z-index: 1;
	height: auto;
  padding: 25px 0;
  color: $brand5;
  overflow: hidden;
  @media (max-width: 767px) {
  	padding: 25px 0;
  	margin-bottom: 50px;
  }
  a {
  	color: $brand3;
  	margin-right: 20px;
  	text-decoration: none;
  	&:hover {
  		color: $brand5;
  	}
  	@media (max-width: 767px) {
  		display: block;
  	}
  }
  &.pop {
    margin:0px;
  }
}

footer {
  padding: 100px;
  @media (max-width: 767px) {
  	padding: 20px 5px;
  }
  color: $brand2;
  background-color: $brand1;
  .logo {
  	width: 100%;
  	max-width: 100px;
  }
  div[class*="col-"] {
  	margin-bottom: 20px;
  }
  h5 {
  	font-weight: bold;
  }
  a {
  	text-decoration: none;
  	color: $brand2;
  	& i {
  		color: $brand2;
  		transition: all 200ms;
  		&:hover {
	  		color: $box;
	  	}
  	}
  	&:hover {
  		color: $box;
  	}
  }
}
.admin {
	width: 100%;
	height: calc(100vh - 170px);
	background: url('../img/admin-bg.jpg') center no-repeat;
	background-size: cover;
	.panel {
		width: 400px;
		background: transparent;
		border: 10px solid rgba(255,255,255,0.5);
		.panel-heading{
			background: $brand1;
			padding: 10px 25px;
			color: $brand5;
			text-align: center;
			text-transform: uppercase;
		}
		.panel-body {
			background: $brand5;
			padding: 25px;
		}
	}
}
.admin-header {
	width: 100%;
	height: 50px;
	background-color: $brand1;
	.admin-welcome {
		float: left;
		padding: 10px 15px;
		color: $brand5;
	}
	.admin-nav {
		float: right;
		margin-top: 20px;
	}
}
.fourohfour {
	position: relative;
	width: 100%;
	height: calc(100vh - 170px);
	background: url('../img/404-bg.jpg') center no-repeat;
	background-size: cover;
	.centered {
		position: absolute;
		text-align: center;
		top: 50%;
		right: 0px;
		left: 0px;
		transform: translateY(-50%);
		color: #ffffff;
		.col {
			width:66%;
			min-width: 320px;
			margin: 0 auto;
		}
		h1 {
			font-size:15vh;
			font-weight: 300;
		}
	}
}
.newshead {
	background: url('../img/news-bg.png') center no-repeat;
	background-size: cover;
	width: 100%;
	height: 400px;
}
.news-archive {
	margin-right: 20px;
	a {
		display: block;
		padding: 15px 20px;
		border-bottom: 1px solid $brand4;
		&:hover {
			background-color: $brand4;
			color: $brand1;
		}
	}
}

.product-head {
	width: 100%; 
	height: 400px; 
	background: url('../img/products-bg.jpg') center no-repeat;
	background-size: cover;
	h1 {
		color: #000000;
		font-size: 5vw;
		text-align:center;
		position: absolute;
		top: 25%;
		left: 50%;
		translate: -50% -50%;
	}
	@media (max-width: 767px) {
		height: 200px;
		width: 100%;
		h1 {
			font-size: 1.0em;
			top: 30%;
		}
	}
}
.machinery-head { 
	width: 100%; 
	height: 400px; 
	background: url('../img/machinery-bg.jpg') center no-repeat;
	background-size: cover; 
	h1 {
		color: $brand1;
		font-size: 5vw;
		text-align:center;
		position: absolute;
		top: 25%;
		left: 50%;
		translate: -50% -50%;
	}
	@media (max-width: 767px) {
		height: 200px;
		width: 100%;
		h1 {
			font-size: 1.0em;
			top: 30%;
		}
	}
}
.certifications-head { 
	width: 100%; 
	height: 400px; 
	background: url('../img/team-bg.jpg') center no-repeat;
	background-size: cover; 
	h1 {
		color: $brand1;
		font-size: 5vw;
		text-align:center;
		position: absolute;
		top: 25%;
		left: 50%;
		translate: -50% -50%;
	}
	@media (max-width: 767px) {
		height: 200px;
		width: 100%;
		h1 {
			font-size: 1.0em;
			top: 30%;
		}
	}
}
.team-head { 
	width: 100%; 
	height: 400px; 
	background: url('../img/certifications-bg.jpg') center no-repeat;
	background-size: cover; 
	h1 {
		color: $brand1;
		font-size: 5vw;
		text-align:center;
		position: absolute;
		top: 25%;
		left: 50%;
		translate: -50% -50%;
	}
	@media (max-width: 767px) {
		height: 200px;
		width: 100%;
		h1 {
			font-size: 1.0em;
			top: 30%;
		}
	}
}
.quote-head { 
	width: 100%; 
	height: 400px; 
	background: url('../img/quote-bg.jpg') center no-repeat;
	background-size: cover; 
	h1 {
		color: $brand1;
		font-size: 5vw;
		text-align:center;
		position: absolute;
		top: 25%;
		left: 50%;
		translate: -50% -50%;
	}
	@media (max-width: 767px) {
		height: 200px;
		width: 100%;
		h1 {
			font-size: 1.0em;
			top: 30%;
		}
	}
}
.assoc {
	a {
		display: block;
		text-align: center;
		background-color: rgba(0,0,0,0.05);
		transition: all 400ms;
		img {
			opacity: 0.5;
			transition: all 400ms;
		}
		&:hover {
			background-color: rgba(0,0,0,0.0);
			img {
				opacity: 1.0;
			}
		}
	}
}
.jj-products {
	.filter {

		cursor: pointer;
		@media (max-width: 767px) {
			float: none;
			width: 90%;
		}
	}
	.row {
		border-bottom: 1px solid $brand4;
		padding: 25px 0px;
	}
	.mix { display:none; }
}
.prod-desc {
	padding: 10px 0 0 0px;
	p, ul, li {

	}
}
.prod-img {
	width: 90%;
}
section.capabilities {
	h2 {
		padding-bottom: 25px;
		margin-bottom: 50px;
		border-bottom: 1px solid $brand3;
	}
	@media (max-width: 767px) {
		h2 {
			font-size: 24px;
			margin-bottom: 25px;
		}
	}
}
section.prod-detail {
	h2, img {
		margin-bottom: 50px;
	}
}
section.typography {
	padding-bottom: 0px;
	margin-bottom: 50px;
	h2 {
//		width: 70vw;
//		max-width: 960px;
//		font-size: 6vw;
//		line-height: 7.2vw;
//		letter-spacing: .35vw;
		color: $box;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	p, ul, .row {
//		width: 70vw;
//		max-width: 960px;
//		font-size: 24px;
//		line-height: 56px;
//		letter-spacing: 0.01em;
//		margin: 0 auto;
//		margin-bottom: 40px;
	}
	.badge-dark {
		background-color: $box;
	}
	.jumbotron {
		padding: 25px 50px;
	}
	@media (max-width: 767px) {
		margin-bottom: 25px;
		h2 {
			font-size: 24px;
			width: 90%;
		}
		h3 {
			font-size: 18px;
		}
		p, ul, .row {
			font-size: 14px;
			line-height: 28px;
			width: 90%;
			margin-bottom: 25px;
		}
	}
}
.machinery-benefits {
	padding-bottom: 100px !important;
	h2 {
		margin-bottom: 35px;
	}
	.row.box {
		background: none;
		text-align: center;
		div {
			padding: 25px 35px;
			background-color: rgba(255,255,255,1.0);
			border: 1px solid $brand4;
			h3 {
				font-weight: bold;
				height: 5rem;
				color: $brand1;
			}
			i {
				color: $box;
			}
			p {
				color: $brand1;
			}
		}
	}
}
.machinery-roadmap {

	.row {
		padding-bottom: 50px;
		div[class^="col-"] {

		}
	}
	h2 {
		padding-bottom: 25px;
		margin-bottom: 35px;
//  border-bottom: 1px solid $brand3;
	}
	h3 {
		padding: 15px 0px;
//		margin-bottom: 35px;
//		border-bottom: 1px solid $brand3;
		.badge {
			display: none;
			border-radius: 50%;
			margin-right: 10px;
			&.badge-dark {
				background-color: $box;
			}
		}
	}
	ul {
		li {
			margin-bottom: 15px;
			margin-left: 15px;
			i {
				margin-left: -15px;
				margin-right: 5px;
			}
		}
	}
}
.certification-login {
	.flip-container {
		position: relative;
		top: 0px;
		left: 0px;
		translate: 0% 0%;
	}
}
.card-dark {
  background-color: rgba(0,0,0,0.3);
}
.has-error {
	font-weight: bold;
	color: #990000;
}
.env-icon {
	color: #009900;
}
.collapse-header {
	display: block;
	background-color: $brand1;
	color: $brand4;
	padding: 10px 15px;
	margin-bottom: 5px;
	&:hover, &:focus, &:active {
		background-color: $brand2;
		color: $brand5;
	}
}
.collapse-body { display: none; }
.download {
	display: block;
	background-color: $brand4;
	padding: 10px 30px;
	margin-bottom: 5px;
	&:hover {
		background-color: $brand1;
		color: $brand5;
	}
}
.team-bios {
	.row {
		margin-bottom: 50px;
	}
}
.jj-case-study {
	#na-menu-but {
		z-index: 9999;
	}
}
.case-study-head {
	position:absolute;
	color: $brand5;
	left: 25px;
	top: 150px;
	z-index:100;
	@media (max-width: 767px) {
		h1 {
			display: none;
		}
	}
}
.container-admin { padding: 50px; }
.top50 { margin-top: 50px; }
.bottom50 { margin-bottom: 50px; }
.clear { clear: both; }
.hidden { display: none; }
strong { font-weight: bold; }
.btn { transition: all 400ms;
	i {	margin-left: 10px; transition: all 400ms; }
	&:hover { background-color: $brand2; color: $brand5; i {margin-left: 25px; } }
  &.active { background-color: $brand4; color: $brand1; i {margin-left: 25px; } }
  &.btn-black {
    background-color: $brand1; color: $brand5;
    &:hover { background-color: $brand2; color: $brand5; }
  }
  &.btn-alt {
    background-color: $box; color: $brand5;
    &:hover { background-color: $brand1; color: $brand5; }
  }
  &.btn-cta {
    background-color: $orange; 
    color: $brand5;
    &:hover { 
    	background-color: $brand1; 
    	color: $brand5; 
    }
  }
  &.btn-products { margin:20px 0px; }
}
@keyframes delay {
  0%, 40%, 100% { 
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
.modal-send {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
  .modal-header {
  	border-bottom: 1px solid #ffffff;
  }
  .modal-footer {
  	border-top: 1px solid #ffffff;
  }
}
.loader {
  margin: 0 auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 9999; 
  > div {
    height: 100%;
    width: 8px;
    display: inline-block;
    float: left;
    margin-left: 2px;
    animation: delay 0.8s infinite ease-in-out;
  }
  .bar1{
    background-color: #000;
  }
  .bar2{
    background-color: #222;
    animation-delay: -0.7s;
  }
  .bar3{
    background-color: #444;
    animation-delay: -0.6s;
  }
  .bar4{
    background-color: #666;
    animation-delay: -0.5s;
  }
  .bar5{
    background-color: #888;
    animation-delay: -0.4s;
  }
  .bar6{
    background-color: #aaa;
    animation-delay: -0.3s;
  }
}
.flip-container {
	perspective: 1000px;
	position: absolute;
		width: 400px;
		height: 460px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
}
.flip-container.flip .flipper {
	transform: rotateY(180deg);
}
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
	transform: rotateY(0deg);
}
.back {
	transform: rotateY(180deg);
}
#getStarted {
	position: fixed;
	right:25px;
	bottom:5px;
	opacity: 0.0;
	a.btn {
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.2), 0 3px 1px -2px rgba(0,0,0,0.2);
	}
	@media(max-width: 768px) {
		right: 10px;
		bottom: 0px;
		a.btn {
			font-size: 12px;
			padding: 5px 10px;
		}
	}
}
ol.spacing {
	li {
		padding: 10px 0px;
	}
}
.jumbotron {
	background-color: rgba(0,0,0,0.04);
}